Source: nginx-luaSection: webPriority: optionalMaintainer: Your Name <you@example.com>Build-Depends: debhelper-compat (=13), libpcre3-dev, zlib1g-dev, libssl-dev, lua5.1, liblua5.1-0-devStandards-Version: 4.6.2Package: nginx-luaArchitecture: amd64Depends: ${shlibs:Depends}, ${misc:Depends}Description: Nginx with Lua module Custom nginx build with embedded lua support