Source: nginx-lua
Section: web
Priority: optional
Maintainer: you <you@example.com>
Build-Depends: debhelper-compat (= 13),
               libpcre3-dev,
               zlib1g-dev,
               libssl-dev,
               libluajit-5.1-dev

Standards-Version: 4.6.0

Package: nginx-lua
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nginx with Lua support
 Custom nginx build with lua-nginx-module